*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.fa-sign-in-alt{
    height: 1em;
}
section{
    margin-top:40px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-top: 100px;
    margin: auto;
    width:90%;
    height: 20%;
    display:flex;
    justify-content: space-between;
}
#dropdown{
    margin-top:40px; 
}
.card-columns {
   
    margin: auto;
 

    padding: 40px; 
    margin-top:40px;
    padding-left: 9.5%;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:100%;
  }
#contactus{
    margin-top:40px;
    justify-content: center;
    align-items: center;
   padding-bottom: 20px;
    padding-top: 10px;
    margin: auto;
    width:90%;
    height: 20%;
    display:flex;
    
}
nav{
    color: white;

}
#info{
    font-size: 1rem;
}
.moreinfo{
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    width:90%;
    margin: auto;
    align-items: center;
}
.box{
    
        margin-top:40px;
        
        justify-content: center;
        align-items: center;
        background-color: #e5e2e5;
        border: 1px solid black;
        margin: auto;
        width:90%;
  
}
.itemContainer{

    background-color: #5A5556;
       color: white;
       font-size: 1.5rem;
       display: flex;
       justify-content: space-between;
       /* align-items:center; */
}
.itemContainer li{
    flex:1;
}


.recipeItem{
    padding: 0rem 0.5rem;
}
  .disableBlur {
    /*filter: none;*/
    backdrop-filter: blur(0px);
   
  }


  .bg{
 

  background-image: url("image/pop1.jpg"); 
    /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
/*   
 Add the blur effect 
  -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px); */


 


  
}
.form{
    width: 80%;
    align-items: center;
    align-content: center;
}
.repimg{

    width: 100%;
}
.recipediv{
    width: 90%;
    margin-top:40px;
    margin-left: 5%;
}
 
.cardimg{
    height:10%;
    width: 100%;
}
